<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Content Manager</title>
	<script>window.CMS_MANUAL_INIT=true;</script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<style>
		label[for|=author-field] {
			display: none;
		}
	</style>
</head>

<body>
	<!-- Include the script that builds the page and powers Netlify CMS -->
	<script src="https://unpkg.com/netlify-cms"></script>
	<script>
		function genCol (name) {
			// eg Brandon Sirolli
			const first = name.split(' ')[0];
			const firstL = first.toLowerCase();
			return {
				name: firstL+"s-blog",
				label: first+"'s Blog",
				label_singular: "Post by "+first,
				folder: "src/routes/blog/",
				slug: "{{year}}-{{month}}-{{day}}-"+firstL+"-{{slug}}",
				create: true,
				extension: 'md',
				fields: [
					{label: "Title", name: "title", widget: "string"},
					{label: "Editor", name: "editor", widget: "select", options: ["No Current", "Leigh-Ann", "Lynn", "Christian"], required: false, default: "No Current"},
					{label: "Publish Date", name: "date", widget: "datenop"},
					{label: "Image", name: "image", widget: "image", required: false},
					{label: "YouTube Video ID", name: "ytvideo", widget: "youtube", required: false},
					{label: "Author", name: "author", widget: "author", default: name},
					{label: "Body", name: "body", widget: "markdown"},
				]
			}
		}
		let url = document.location.origin;
		CMS.init({
			config: {
				backend: {
					name: 'git-gateway',
					branch: 'main',
				},
				publish_mode: 'editorial_workflow',
				site_url: url,
				logo_url: url + '/assets/logo_transparent.webp',
				media_folder: 'src/assets',
				public_folder: '/assets',
				collections: [
					genCol('Brandon Sirolli'), genCol('Angela Sirolli'), genCol('Leigh-Ann Vidal')
				],
			}
		});

		const ytRe = /(?:(?<=^.*youtu(?:\.be\/|be.com\/(?:watch\?v=|embed\/)))|^(?!.*\/))(.*?)(?=(?:\?|&|$).*?$)/i;
		CMS.registerPreviewStyle("./preview.css");
		var YouTubeControl = createClass({
			handleChange: function(e) {
				this.props.onChange(e.target.value.match(ytRe)[1]);
			},
			render: function() {
				return h('input', { type: 'text', value: this.props.value, onChange: this.handleChange, className: this.props.classNameWrapper });
			}
		});
		var YouTubePreview = createClass({
			render: function() {
				return h('iframe', {
					src: 'https://youtube.com/embed/' + this.props.value.match(ytRe)[4] + '?controls=1&rel=0',
					'class': 'youtube_video',
					width: '560',
					height: '315',
					frameborder: '0',
					allow: 'fullscreen; encrypted-media',
					allowfullscreen: 'true'
				});
			}
		});
		var Null = createClass({ render: function () { return null } });
		var HiddenAuthorPreview = createClass({
			render: function() {
				return h('p', {style: {'font-style': 'italic', 'margin-top': '15px'}}, 'By ' + this.props.value);
			}
		});
		CMS.registerWidget('youtube', YouTubeControl, YouTubePreview);
		CMS.registerWidget('datenop', 'datetime');
		CMS.registerWidget({name: 'author', controlComponent: Null, previewComponent: HiddenAuthorPreview, visible: false});
	</script>
</body>

</html>
