<!-- routify:meta bundle -->
<script>
    import { Router } from '@roxi/routify';
    import routes from '../.routify/routes.default.js';
	document.body.style.backgroundSize = 'auto ' + screen.height + 'px';
</script>
<Router {routes} />
